/*
    
    Jessica Bong - 2014
    ----------------------------------------------------------------------------
    
    Style Index

    $1 - Typography & Colour
    $2 - Header and Navigation
    $3 - Structure

    $M - Miscellaneous
    $0 - Media Queries

*/
@import url("bootstrap.min.css");
@import url("bootstrap-responsive.min.css");
/*------------------------------------------------------------------------------
 $1 - Typography & Colour
------------------------------------------------------------------------------*/
body {
  background: #ececec;
  color: #262626;
  font-family: "servus-slab", helvetica, sans-serif;
  font-size: 14.562px;
  font-weight: 300; }

p {
  color: #262626;
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  p a {
    border-bottom: 1px solid black;
    color: #262626;
    padding-bottom: 2px; }
    p a:hover {
      color: #0600ff;
      text-decoration: none; }

h1, h2, h3, h4, h5 {
  color: black;
  font-family: ServusSlab-ExtraBold;
  line-height: 1.25em;
  margin: 0;
  padding: 0.25em 0; }

h2 {
  font-weight: 600;
  margin: 10px 0; }

img {
  width: 100%; }

/*------------------------------------------------------------------------------
 $2 - Header and Navigation
------------------------------------------------------------------------------*/
header {
  font-family: ServusSlab-ExtraBold;
  max-width: 1280px;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 3; }

.menu {
  list-style-type: none;
  margin-top: 20px;
  padding: 0; }
  .menu > li {
    font-size: 1.3em; }
    .menu > li a {
      border-bottom: 3px solid transparent;
      color: black;
      display: inline-block;
      height: 1.5em;
      margin-bottom: 0.5em;
      text-decoration: none; }
      .menu > li a:hover {
        border-bottom: 3px solid #000; }

#left-nav {
  float: left;
  font-size: 1.8em;
  margin-bottom: 0.75em;
  max-width: 960px;
  padding-right: 40px;
  padding-top: 20px;
  width: 100%; }
  #left-nav a {
    border-bottom: 3px solid transparent;
    color: black;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 1.35em;
    text-decoration: none; }
    #left-nav a:hover {
      border-bottom: 3px solid #000; }

#right-nav {
  float: right;
  font-size: 1.4rem;
  max-width: 200px;
  width: 100%; }
  @media screen and (max-width: 1200px) {
    #right-nav {
      max-width: auto;
      float: none; } }

.logo {
  float: right;
  display: inline-block;
  max-width: 60px; }
  .logo a:hover {
    border: none !important; }

/*------------------------------------------------------------------------------
 $3 - Structure
------------------------------------------------------------------------------*/
#main {
  list-style-type: none;
  margin: 150px 0 20px 20px;
  padding-right: 20px; }
  @media screen and (max-width: 768px) {
    #main {
      padding: 0; } }
  #main .video-wrapper {
    padding: 5px; }
  #main .thumbnail {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    background: none;
    border: none;
    margin: 2px 0;
    position: relative; }
    #main .thumbnail img {
      width: 100%;
      height: auto; }
  #main a img:hover {
    opacity: 0.75; }

#intro {
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  overflow: hidden;
  padding: 20px 0px; }
  @media screen and (max-width: 550px) {
    #intro {
      text-align: center; } }

#wrapper {
  max-width: 960px;
  padding: 0 20px; }

a.goToTop {
  border-bottom: 1px solid transparent;
  color: #262626;
  display: inline-block;
  margin: 20px 0;
  position: relative;
  z-index: 9999; }
  a.goToTop:hover {
    border-bottom: 1px solid black;
    text-decoration: none; }

.desc {
  max-width: 500px;
  padding: 20px; }
  @media screen and (max-width: 550px) {
    .desc {
      padding: 20px 0 20px; } }
  .desc h1 {
    border-bottom: 1px solid black;
    font-family: "servus-slab", helvetica, sans-serif;
    color: black;
    display: inline-block;
    margin-bottom: 2em;
    font-size: 1.8rem;
    font-weight: 600; }
  .desc .meta {
    font-size: 0.9em;
    list-style-type: none;
    margin: 50px 0 0;
    padding: 0; }

/*------------------------------------------------------------------------------
 $4 - Footer
------------------------------------------------------------------------------*/
footer {
  border-top: 1px solid #e9e9e9;
  color: #262626;
  font-family: ServusSlab-ExtraBold;
  font-size: 1.2rem;
  margin: 10px 0;
  overflow: hidden;
  padding: 10px; }
  @media screen and (max-width: 768px) {
    footer span, footer .footer-right {
      display: block;
      float: none;
      text-align: center; } }
  footer a {
    color: #262626;
    margin: 0 0.25em; }

/*------------------------------------------------------------------------------
 $M - Miscellaneous
------------------------------------------------------------------------------*/
.nextprev {
  max-width: 1180px;
  position: fixed;
  z-index: 3;
  width: 100%;
  bottom: 10%;
  left: -15px; }
  @media screen and (max-width: 768px) {
    .nextprev {
      padding: 0; } }
  .nextprev .next {
    background-image: url("../images/next.gif");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 20%;
    float: right;
    height: 20px;
    width: 100px; }
  .nextprev .prev {
    background-image: url("../images/prev.gif");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 20%;
    float: left;
    height: 20px;
    width: 100px; }

#snowden {
  display: none; }
  @media screen and (max-width: 768px) {
    #snowden {
      display: block; } }

.footer-right {
  float: right; }

.clearfix {
  clear: both; }

/*------------------------------------------------------------------------------
 $0 - Media Queries
------------------------------------------------------------------------------*/
/* Retina detection for images */
