/*
    
    Jessica Bong - 2014
    ----------------------------------------------------------------------------
    
    Style Index

    $1 - Typography & Colour
    $2 - Header and Navigation
    $3 - Structure

    $M - Miscellaneous
    $0 - Media Queries

*/

@import url("bootstrap.min.css");

@import url("bootstrap-responsive.min.css");

@import "bourbon/bourbon";

/*------------------------------------------------------------------------------
 $1 - Typography & Colour
------------------------------------------------------------------------------*/

$background: #ececec;

$colour-black: #000000;
$colour-grey: tint(black, 15%);
$colour-mgrey: tint($colour-grey, 90%);
$colour-lgrey: tint($colour-grey, 60%);
$colour-blue: #0600ff;
$colour-aqua: #45c1b9;
$colour-yellow: #eee54e;

$font-size: modular-scale(10px, 1, 1.618);
$font-display: ServusSlab-ExtraBold;
$font-body: "adelle-sans", helvetica, sans-serif;
$paragraph-leading: 1.5em;
$display-leading: 1.25em;

$resolution: 1280px;

$break-tiny: 420px;
$break-small: 550px;
$break-medium: 768px;
$break-large: 1145px;

body {
    background: $background;
    color: $colour-grey;
    font: {
        family: $font-body;
        size: $font-size;
        weight: 300;
    }
}

p {
    color: $colour-grey;
    line-height: $paragraph-leading;
    margin-bottom: $paragraph-leading / 2;
    a {
        border-bottom: 1px solid $colour-black;
        color: $colour-grey;
        padding-bottom: 2px;
        &:hover {
            color: $colour-blue;
            text-decoration: none;
        }
    }
}

h1, h2, h3, h4, h5 {
    color: $colour-black;
    font: {
        family: $font-display;
    };
    line-height: $display-leading;
    margin: 0;
    padding: 0.25em 0;
}

h2 {
    font-weight: 600;
    margin: 10px 0;
}

img {
    width: 100%;
}

/*------------------------------------------------------------------------------
 $2 - Header and Navigation
------------------------------------------------------------------------------*/

header {
    font-family: $font-display;
    max-width: $resolution;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.menu {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    > li {
        font-size: 1.3em;
        a {
            color: $colour-black;
            padding: 0.5em 1em 1em;
            text-decoration: none;
            &:hover {
                border-bottom: 2px solid #000;
            }
        }
    }
}

#left-nav {
    float: left;
    font-size: 1.8em;
    max-width: 900px;
    padding-top: 20px;
    width: 100%;
    a {
        color: $colour-black;
    }

    @media screen and (max-width: $break-large) {
        max-width: 75%;
    }

    @media screen and (max-width: $break-small) {
        max-width: 90%;
    }
}

#right-nav {
    float: right;
    font-size: 1.4rem;
    max-width: 200px;
    width: 100%;

    @media screen and (max-width: $break-large) {
        max-width: 20%;
        float: left;
    }
    @media screen and (max-width: $break-small) {
        max-width: auto;
        float: none;
    }
}

.logo {
    float: right;
    display: inline-block;
    max-width: 60px;
}

/*------------------------------------------------------------------------------
 $3 - Structure
------------------------------------------------------------------------------*/

#main {
    list-style-type: none;
    overflow: hidden;
    margin: 150px 0 20px 20px;
    padding: 0px;

    .thumbnail {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        background: none;
        border: none;
        margin: 2px 0;
        position: relative;
    }

    a {
        img {
            &:hover {
                opacity: 0.75;
            }
        }
    }
}

.nextprev {
    float: right;
    a {
        font-size: 1.4em;
        color: $colour-black;
    }
}

#intro {
    border-bottom: 1px solid $colour-mgrey;
    border-top: 1px solid $colour-mgrey;
    overflow: hidden;
    padding: 20px 0px;
    @media screen and (max-width: $break-small) {
        text-align: center;
    }
}

#wrapper {
    max-width: 960px;
    padding: 0 20px;
}

a.goToTop {
    border-bottom: 1px solid rgba(0,0,0,0);
    color: $colour-grey;
    display: inline-block;
    margin: 20px 0;
    position: relative;
    z-index: 9999;
    &:hover {
        border-bottom: 1px solid $colour-black;
        text-decoration: none;
    }
}

.desc {
    background: #fff;
    padding: 20px;
    h1 {
        color: $colour-black;
        font-size: 3.2rem;
        font-weight: 600;
    }

    .meta {
        font-size: 0.9em;
        list-style-type: none;
        margin: 50px 0 0;
        padding: 0;
        li {
            display: inline-block;
            margin-right: 1em;
        }
    }
}

/*------------------------------------------------------------------------------
 $4 - Footer
------------------------------------------------------------------------------*/

footer {
    border-top: 1px solid $colour-mgrey;
    color: $colour-grey;
    font-family: $font-display;
    font-size: 1.2rem;
    margin: 10px 0;
    overflow: hidden;
    padding: 10px;
    span, .footer-right {
        @media screen and (max-width: $break-medium) {
            display: block;
            float: none;
            text-align: center;
        }
    }
    a {
        color: $colour-grey;
        margin: 0 0.25em;
    }
}

/*------------------------------------------------------------------------------
 $M - Miscellaneous
------------------------------------------------------------------------------*/

#snowden {
    display: none;
    @media screen and (max-width: $break-medium) {
        display: block;
    }
}

.footer-right {
    float: right;
}

.clearfix {
    clear: both;
}

/*------------------------------------------------------------------------------
 $0 - Media Queries
------------------------------------------------------------------------------*/

/* Retina detection for images */
@media all and (-webkit-min-device-pixel-ratio: 1.5) {}