/*
    
    Jessica Bong - 2014
    ----------------------------------------------------------------------------
    
    Style Index

    $1 - Typography & Colour
    $2 - Header and Navigation
    $3 - Structure

    $M - Miscellaneous
    $0 - Media Queries

*/

@import url("bootstrap.min.css");
@import url("bootstrap-responsive.min.css");
@import "bourbon/bourbon";

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

/*------------------------------------------------------------------------------
 $1 - Typography & Colour
------------------------------------------------------------------------------*/

$background: #ececec;

$colour-black: #000000;
$colour-grey: tint(black, 15%);
$colour-mgrey: tint($colour-grey, 90%);
$colour-lgrey: tint($colour-grey, 60%);
$colour-blue: #0600ff;
$colour-aqua: #45c1b9;
$colour-yellow: #eee54e;

$font-size: modular-scale(9px, 1, 1.618);
$font-display: ServusSlab-ExtraBold;
$font-body: "servus-slab", helvetica, sans-serif;
$paragraph-leading: 1.5em;
$display-leading: 1.25em;

$resolution: 1280px;

$break-tiny: 420px;
$break-small: 550px;
$break-medium: 768px;
$break-large: 1200px;

body {
    background: $background;
    color: $colour-grey;
    font: {
        family: $font-body;
        size: $font-size;
        weight: 300;
    }
}

p {
    color: $colour-grey;
    line-height: $paragraph-leading;
    margin-bottom: $paragraph-leading / 2;
    a {
        border-bottom: 1px solid $colour-black;
        color: $colour-grey;
        padding-bottom: 0.025em;
        &:hover {
            color: $colour-black;
            text-decoration: none;
            border-bottom: 2px solid $colour-black;
        }
    }
}

h1, h2, h3, h4, h5 {
    color: $colour-black;
    font: {
        family: $font-display;
    };
    line-height: $display-leading;
    margin: 0;
    padding: 0.25em 0;
}

h2 {
    font-weight: 600;
    margin: 10px 0;
}

img {
    width: 100%;
}

/*------------------------------------------------------------------------------
 $2 - Header and Navigation
------------------------------------------------------------------------------*/

header {
    font-family: $font-display;
    max-width: $resolution;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 3;

    @media screen and (max-width: $break-small) {
        position: static;
    }
}

.menu {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    > li {
        font-size: 1.3em;
        a {
            border-bottom: 3px solid rgba(0,0,0,0);
            color: $colour-black;
            display: inline-block;
            height: 1.5em;
            margin-bottom: 0.5em;
            text-decoration: none;
            &:hover {
                border-bottom: 3px solid #000;
            }
        }
    }
}

#left-nav {
    float: left;
    font-size: 1.8em;
    margin-bottom: 0.75em;
    max-width: 960px;
    padding-right: 40px;
    padding-top: 20px;
    width: 100%;

    @media screen and (max-width: $break-small) {
        padding: 20px 0;
        margin: 0;
    }

    a {
        border-bottom: 3px solid rgba(0,0,0,0);
        color: $colour-black;
        display: inline-block;
        padding: 0;
        margin: 0;
        height: 1.35em;
        text-decoration: none;
        &:hover {
            border-bottom: 3px solid #000;
        }
    }
}

#right-nav {
    float: right;
    font-size: 1.4rem;
    max-width: 200px;
    width: 100%;
    @media screen and (max-width: $break-large) {
        max-width: auto;
        float: none;
    }
}

.logo {
    float: right;
    display: inline-block;
    max-width: 60px;
    a {
        &:hover {
            border: none !important;
        }
    }
}

/*------------------------------------------------------------------------------
 $3 - Structure
------------------------------------------------------------------------------*/

#main {
    list-style-type: none;
    margin: 150px 0 20px 20px;
    padding-right: 20px;
    @media screen and (max-width: $break-small) {
        padding: 0;
        margin: 0;
    }
    
    .video-wrapper {
        padding: 5px;
    }

    .thumbnail {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        background: none;
        border: none;
        margin: 2px 0;
        position: relative;

        img {
            width: 100%;
            height: auto;
        }
    }

    a {
        img {
            &:hover {
                opacity: 0.75;
            }
        }
    }
}

#intro {
    border-bottom: 1px solid $colour-mgrey;
    border-top: 1px solid $colour-mgrey;
    overflow: hidden;
    padding: 20px 0px;
    @media screen and (max-width: $break-small) {
        text-align: center;
    }
}

#wrapper {
    max-width: 960px;
    padding: 0 20px;
}

a.goToTop {
    border-bottom: 1px solid rgba(0,0,0,0);
    color: $colour-grey;
    display: inline-block;
    margin: 20px 0;
    position: relative;
    z-index: 9999;
    &:hover {
        border-bottom: 1px solid $colour-black;
        text-decoration: none;
    }
}

.desc {
    max-width: 500px;
    padding: 20px 5px;
    @media screen and (max-width: $break-small) {
        padding: 20px 0;
    }

    h1 {
        border-bottom: 1px solid $colour-black;
        font-family: $font-body;
        color: $colour-black;
        display: inline-block;
        margin-bottom: 2em;
        font-size: 1.8rem;
        font-weight: 600;
    }

    .meta {
        font-size: 0.9em;
        list-style-type: none;
        margin: 50px 0 0;
        padding: 0;
    }
}

/*------------------------------------------------------------------------------
 $4 - Footer
------------------------------------------------------------------------------*/

footer {
    border-top: 1px solid $colour-mgrey;
    color: $colour-grey;
    font-family: $font-display;
    font-size: 1.2rem;
    margin: 10px 0;
    overflow: hidden;
    padding: 10px 5px;
    span, .footer-right {
        @media screen and (max-width: $break-medium) {
            display: block;
            float: none;
            text-align: center;
        }
    }
    a {
        color: $colour-grey;
        margin: 0 0.25em;
    }
}

/*------------------------------------------------------------------------------
 $M - Miscellaneous
------------------------------------------------------------------------------*/
.nextprev {
    max-width: $resolution - 100px;
    position: fixed;
    z-index: 3;
    width: 100%;
    bottom: 10%;
    left: -15px;

    @media screen and (max-width: $break-medium) {
        width: 120%;
        padding: 0;
        left: -32px;
    }

    .next {
        background: {
            image: url('../images/next.gif');
            repeat: no-repeat;
            position: 50%;
            size: 20%;
        }
        float: right;
        height: 20px;
        width: 100px;
    }

    .prev {
        background: {
            image: url('../images/prev.gif');
            repeat: no-repeat;
            position: 50%;
            size: 20%;
        }
        float: left;
        height: 20px;
        width: 100px;
    }
}

#snowden {
    display: none;
    @media screen and (max-width: $break-medium) {
        display: block;
    }
}

.footer-right {
    float: right;
}

.clearfix {
    clear: both;
}

/*------------------------------------------------------------------------------
 $0 - Media Queries
------------------------------------------------------------------------------*/

/* Retina detection for images */
@media all and (-webkit-min-device-pixel-ratio: 1.5) {}