/*
    
    Jessica Bong - 2014
    ----------------------------------------------------------------------------
    
    Style Index

    $1 - Typography & Colour
    $2 - Header and Navigation
    $3 - Structure

    $M - Miscellaneous
    $0 - Media Queries

*/
@import url("bootstrap.min.css");
@import url("bootstrap-responsive.min.css");
/*------------------------------------------------------------------------------
 $1 - Typography & Colour
------------------------------------------------------------------------------*/
body {
  background: #ececec;
  color: #262626;
  font-family: "servus-slab", helvetica, sans-serif;
  font-size: 14.562px;
  font-weight: 300; }
  @media screen and (max-width: 550px) {
    body {
      font-size: 13.8339px; } }

p {
  color: #262626;
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  p a {
    border-bottom: 1px solid black;
    color: #262626;
    padding-bottom: 0.025em; }
    p a:hover {
      color: black;
      text-decoration: none;
      border-bottom: 2px solid black; }
  p strong {
    font-family: "servus-slab-semibold"; }
  p em {
    font-family: "servus-slab-regular-italic"; }

.lead {
  font-size: 2em;
  line-height: 1.35em;
  margin-left: 1.65em; }
  @media screen and (max-width: 550px) {
    .lead {
      margin-left: 0; } }

h1, h2, h3, h4, h5 {
  color: black;
  font-family: ServusSlab-ExtraBold;
  line-height: 1.25em;
  margin: 0;
  padding: 0.25em 0; }

h2 {
  margin: 10px 0; }

img {
  width: 100%; }

a {
  color: black; }
  a:hover {
    color: black; }

@media screen and (max-width: 550px) {
  blockquote {
    padding: 0; } }
blockquote p {
  text-indent: -0.35em;
  hanging-punctuation: first;
  line-height: 1.25em;
  margin-left: 0.65em;
  font-size: 2em; }
  @media screen and (max-width: 550px) {
    blockquote p {
      font-size: 1.35em;
      margin: 0; } }

/*------------------------------------------------------------------------------
 $2 - Header and Navigation
------------------------------------------------------------------------------*/
header {
  font-family: ServusSlab-ExtraBold;
  max-width: 1280px;
  padding: 5px;
  width: 100%; }

.menu {
  list-style-type: none;
  margin-top: 20px;
  padding: 0; }
  .menu > li {
    font-size: 1.3em; }
    @media screen and (max-width: 1135px) {
      .menu > li {
        float: left;
        margin-right: 1em; } }
    .menu > li a {
      border-bottom: 3px solid transparent;
      color: black;
      display: inline-block;
      height: 1.5em;
      margin-bottom: 0.5em;
      text-decoration: none; }
      .menu > li a:hover {
        border-bottom: 3px solid #000; }

#left-nav {
  font-size: 1.8em;
  margin-bottom: 0.35em;
  max-width: 960px;
  padding-right: 40px;
  padding-top: 20px;
  position: fixed;
  width: 100%;
  z-index: 3; }
  @media screen and (max-width: 550px) {
    #left-nav {
      max-width: 335px;
      padding: 20px 0;
      position: absolute; } }
  #left-nav a {
    border-bottom: 3px solid transparent;
    color: black;
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0;
    height: 1.35em;
    text-decoration: none; }
    #left-nav a:hover {
      border-bottom: 3px solid #000; }

#right-nav {
  font-size: 1.4rem;
  max-width: 280px;
  position: fixed;
  left: 1015px;
  width: 100%;
  z-index: 3; }
  @media screen and (max-width: 1135px) {
    #right-nav {
      position: absolute;
      left: 25px;
      top: 55px; } }

.logo {
  float: right;
  display: inline-block;
  max-width: 60px; }
  .logo a:hover {
    border: none !important; }

/*------------------------------------------------------------------------------
 $3 - Structure
------------------------------------------------------------------------------*/
#main {
  list-style-type: none;
  margin: 150px 0 20px 20px;
  padding-right: 20px; }
  @media screen and (max-width: 550px) {
    #main {
      padding: 0;
      margin: 150px 0 20px; } }
  #main .video-wrapper {
    padding: 5px; }
  #main .thumbnail {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    background: none;
    border: none;
    margin: 2px 0;
    position: relative; }
    #main .thumbnail img {
      width: 100%;
      height: auto; }
  #main a img:hover {
    opacity: 0.75; }

#intro {
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  overflow: hidden;
  padding: 20px 0px; }
  @media screen and (max-width: 550px) {
    #intro {
      text-align: center; } }

#wrapper {
  max-width: 960px;
  padding: 0 20px; }

a.goToTop {
  border-bottom: 1px solid transparent;
  color: #262626;
  display: inline-block;
  margin: 20px 0;
  position: relative;
  z-index: 9999; }
  a.goToTop:hover {
    border-bottom: 1px solid black;
    text-decoration: none; }

.desc {
  max-width: 500px;
  padding: 20px 5px; }
  @media screen and (max-width: 550px) {
    .desc {
      padding: 20px 0; } }
  .desc h1 {
    border-bottom: 1px solid black;
    font-family: "servus-slab", helvetica, sans-serif;
    color: black;
    display: inline-block;
    margin-bottom: 2em;
    font-size: 1.8rem;
    font-weight: 600; }
  .desc .meta {
    font-size: 0.9em;
    list-style-type: none;
    margin: 50px 0 0;
    padding: 0; }

article .title {
  margin-bottom: 3em; }
article h1 {
  font-size: 3em;
  margin-left: -0.5em; }
  @media screen and (max-width: 550px) {
    article h1 {
      margin: 2em 0 1em 0; } }
article p {
  font-size: 1.35em;
  margin: 1.5em 0 1.5em 2.5em; }
  @media screen and (max-width: 550px) {
    article p {
      margin-left: 0; } }
article ul.tags {
  list-style-type: none;
  padding: 0;
  margin-left: 3.5em; }
  @media screen and (max-width: 550px) {
    article ul.tags {
      margin-left: 0; } }
article hr {
  text-align: left;
  border-top: 2px solid black;
  margin: 3em 3.5em;
  max-width: 20px; }
  @media screen and (max-width: 550px) {
    article hr {
      margin-left: 0; } }
article img {
  margin: 1em 0 0 -0.35em; }
article figure.image {
  margin: 3em 0; }
article figcaption {
  font-size: 1em;
  margin: 1em 3.5em; }
article blockquote {
  margin: 3em 0; }

#discussion {
  margin: 5em 0 0 3.5em; }
  @media screen and (max-width: 550px) {
    #discussion {
      margin-left: 0; } }

/*------------------------------------------------------------------------------
 $4 - Footer
------------------------------------------------------------------------------*/
footer {
  border-top: 1px solid #e9e9e9;
  color: #262626;
  font-family: ServusSlab-ExtraBold;
  font-size: 1.2rem;
  margin: 10px 0;
  overflow: hidden;
  padding: 10px 5px; }
  @media screen and (max-width: 768px) {
    footer span, footer .footer-right {
      display: block;
      float: none;
      text-align: center; } }
  footer a {
    color: #262626;
    margin: 0 0.25em; }

/*------------------------------------------------------------------------------
 $M - Miscellaneous
------------------------------------------------------------------------------*/
.nextprev {
  max-width: 1180px;
  position: fixed;
  z-index: 3;
  width: 100%;
  bottom: 10%;
  left: -15px; }
  @media screen and (max-width: 768px) {
    .nextprev {
      width: 120%;
      padding: 0;
      left: -32px; } }
  .nextprev .next {
    background-image: url("../images/next.gif");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 20%;
    float: right;
    height: 20px;
    width: 100px; }
  .nextprev .prev {
    background-image: url("../images/prev.gif");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 20%;
    float: left;
    height: 20px;
    width: 100px; }

#snowden {
  display: none; }
  @media screen and (max-width: 768px) {
    #snowden {
      display: block; } }

.footer-right {
  float: right; }

.clearfix {
  clear: both; }

/*------------------------------------------------------------------------------
 $0 - Media Queries
------------------------------------------------------------------------------*/
/* Retina detection for images */
